.announcement-bar {
    background-color: black;
    color: white;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
}

.announcement-text {
    display: inline-block;
    
}

.shop-now {
    color: white;
    text-decoration: underline;
    margin-left: 5px;
}

.shop-now:hover {
    color: gray;
}

.language-dropdown select {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    appearance: none;
}

.language-dropdown {
    margin-left: auto;
}
